.search [type="checkbox"] {
    display: none;
}

.search label.toggleMenu {
    display: none;
    color: rgb(126, 122, 123);
}

@media all and (max-width: 700px) {
    .conteiner {
        overflow: hidden;
    }
    .center {
        display: none;
    }
    .search label.toggleMenu {
        display: block;
    }
}